@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chat app</h1>
    <p>Witaj! Zapraszamy do rozmowy ...</p>
    <a href="Home/SignIn">
        Ekran logowania    
    </a>
</div>